BOT_TOKEN=
YANDEX_PUBLIC_URL=https://disk.360.yandex.ru/d/At7POE_VL0oNiA
TIMEZONE=Asia/Yekaterinburg
CHECK_INTERVAL_SECONDS=300
DATABASE_URL=sqlite+aiosqlite:///./data/bot.db
CALENDAR_HOST=0.0.0.0
CALENDAR_PORT=8080
CALENDAR_BASE_URL=
